<p>So good to have you here<%=current_user.username%>

    <h2>Artwork</h2>
        <%@artwork.each do |artwork| %>
            <div>
                <%=artwork.art%>
            </div>

    <%end%>







