<h2>Add Art</h2>

    <form action="/artwork" method="POST"
        <p>Status: <input type="text" name="art"></p>
            <input class = "btn btn-primary" type="submit" value="submit">

    </form>







