<h2>Edit Your Work</h2>

    <form method="POST" action="/artwork/<%=@artwork.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type = "text" name="art" value="<%@artwork.art%>">
    <input type = "submit" value="submit" >
    <input type = "submit" value="Delete Artwork"

    </form>







